<%= render partial: '/partials/nav' %>
<h1>Kale Yeah! &#x1f96c;</h1>
<h4>We have beets for you:</h4>
<br>

<div class="loader">
    <img src="https://media.giphy.com/media/pOJSTsYw7fVVyPvThs/giphy.gif" alt="Loading..." />
</div>

<% @cuisine_ids = recommendations.cuisine_ids %>
<% @mood_ids = recommendations.mood_ids %>
<% @combo_ids = recommendations.combo_ids %>
<% @token = current_user.token %>

<div>
  <div class="col" id='cuisine'>
  <h3>Cuisine Playlists</h3>
    <section id ='cuisine-iframe'></section>
    <button id='cuisine-previous' class='btn btn-secondary btn-sm'>Previous
    </button>
    <button id='cuisine-follow', class='btn btn-secondary btn-success btn-sm'>Follow on Spotify
    </button>
    <button id='cuisine-next' class='btn btn-secondary btn-sm'>Next
    </button>
  </div>

    <div class="col" id='mood'>
      <h3>Mood Playlists</h3>
      <section id ='mood-iframe'></section>
      <button id='mood-previous' class='btn btn-secondary btn-sm'>Previous
      </button>
      <button id='mood-follow', class='btn btn-secondary btn-success btn-sm'>Follow on Spotify
      </button>
      <button id='mood-next' class='btn btn-secondary btn-sm'>Next
      </button>
    </div>

    <div class="col" id='combo'>
      <h3>Home Harvested Playlists</h3>
      <section id ='combo-iframe'></section>
      <button id='combo-previous' class='btn btn-secondary btn-sm'>Previous
      </button>
      <button id='combo-follow', class='btn btn-secondary btn-success btn-sm'>Follow on Spotify
      </button>
      <button id='combo-next' class='btn btn-secondary btn-sm'>Next
      </button>
    </div>
  </div>

<script>

window.addEventListener("load", function () {
    const loader = document.querySelector(".loader");
    loader.className += " hidden";
});

let cuisineIds = <%= @cuisine_ids.inspect.html_safe %>;
let moodIds = <%= @mood_ids.inspect.html_safe %>;
let comboIds = <%= @combo_ids.inspect.html_safe %>;
let token = <%= @token.inspect.html_safe %>;

window.addEventListener("load", function () {
        var cuisinePlayer = document.createElement("IFRAME");
        cuisinePlayer.setAttribute("src", `https://open.spotify.com/embed/playlist/${cuisineIds[1]}`);
        cuisinePlayer.style.height = 400 + "px";
        cuisinePlayer.style.width = 420 + "px";
        cuisinePlayer.id='iframe-cuisine';
        document.getElementById("cuisine-iframe").appendChild(cuisinePlayer);
    });

  const cuisinePrevious = document.getElementById('cuisine-previous');
  cuisinePrevious.addEventListener('click', function() {
        cuisineIds.push(cuisineIds.shift())
        playlistHTML = `https://open.spotify.com/embed/playlist/${cuisineIds[1]}`
        let iframeHTML = document.getElementById('iframe-cuisine');
        iframeHTML.src = playlistHTML;
  });

  const cuisineFollowButton =  document.getElementById('cuisine-follow');
  cuisineFollowButton.addEventListener('click', function() {
        let playlistId = document.getElementById('iframe-cuisine').src.split('/')[5]

        fetch(`https://api.spotify.com/v1/playlists/${playlistId}/followers`, {
          method: 'PUT',
          headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          if (response.status === 200) {
            alert('You are now following this playlist :)');
          }
          else {
            alert('Something went wrong! You didnt follow it');
          }
        })
        .catch(error => alert('Something went wrong! You didnt follow it'));
  })


  const cuisineNext = document.getElementById('cuisine-next');
  cuisineNext.addEventListener('click', function() {
        cuisineIds.unshift(cuisineIds.pop())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${cuisineIds[1]}`
        let iframeHTML = document.getElementById('iframe-cuisine');
        iframeHTML.src = playlistHTML;
  });

// MOOD PLAYLIST BUTTONS
  const moodPrevious = document.getElementById('mood-previous');
  moodPrevious.addEventListener('click', function() {
        moodIds.push(moodIds.shift())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${moodIds[1]}`
        let iframeHTML = document.getElementById('iframe-mood');
        iframeHTML.src = playlistHTML;
  });

  const moodFollowButton =  document.getElementById('mood-follow');
  moodFollowButton.addEventListener('click', function() {
        let playlistId = document.getElementById('iframe-mood').src.split('/')[5]

        fetch(`https://api.spotify.com/v1/playlists/${playlistId}/followers`, {
          method: 'PUT',
          headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          if (response.status === 200) {
            alert('You are now following this playlist :)');
          }
          else {
            alert('Something went wrong! You didnt follow it');
          }
        })
        .catch(error => alert('Something went wrong! You didnt follow it'));
  })

  const moodNext = document.getElementById('mood-next');
  moodNext.addEventListener('click', function() {
        moodIds.unshift(moodIds.pop())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${moodIds[1]}`
        let iframeHTML = document.getElementById('iframe-mood');
        iframeHTML.src = playlistHTML;
  });

// COMBO PLAYLIST BUTTONS
  const comboPrevious = document.getElementById('combo-previous');
  comboPrevious.addEventListener('click', function() {
        comboIds.push(comboIds.shift())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${comboIds[1]}`
        let iframeHTML = document.getElementById('iframe-combo');
        iframeHTML.src = playlistHTML;
  });

  const comboFollowButton =  document.getElementById('combo-follow');
  comboFollowButton.addEventListener('click', function() {
        let playlistId = document.getElementById('iframe-combo').src.split('/')[5]

        fetch(`https://api.spotify.com/v1/playlists/${playlistId}/followers`, {
          method: 'PUT',
          headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          if (response.status === 200) {
            alert('You are now following this playlist :)');
          }
          else {
            alert('Something went wrong! You didnt follow it');
          }
        })
        .catch(error => alert('Something went wrong! You didnt follow it'));
  })

  const comboNext = document.getElementById('combo-next');
  comboNext.addEventListener('click', function() {
        comboIds.unshift(comboIds.pop())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${comboIds[1]}`
        let iframeHTML = document.getElementById('iframe-combo');
        iframeHTML.src = playlistHTML;
  });

</script>
