<iframe id='mood' src=<%= recommendations.mood[0] %> width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe id='cuisine' src=<%= recommendations.cuisine[0] %> width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<iframe id='combo' src=<%= recommendations.combo[0] %> width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<section id='playlist-<%= playlist.id %>'><%= link_to "Next Playlist" %></section>