<body class='recommendations-index'>

  <div class="loader">
      <img src="https://media.giphy.com/media/9Vk8qP9EmWB8FePccb/giphy.gif" alt="Loading..." />
  </div>

  <% @cuisine_ids = recommendations.cuisine_ids %>
  <% @mood_ids = recommendations.mood_ids %>
  <% @combo_ids = recommendations.combo_ids %>
  <% @token = current_user.token %>

  <%= render partial: '/partials/nav' %>

  <div class="index-container">

    <h1 id='kale-title'>&#x1f96c Kale Yeah! &#x1F346</h1>
    <h4 id='kale-subtitle'>&#x1F3B6 we have beats for you &#x1F3B6</h4>
    <br>

    <div class="row-of-iframes">

      <div class="cuisine-playlists" id='cuisine'>
        <h3 class='playlist-title'><%= recommendations.cuisine %> Playlists</h3>
        <iframe id='iframe-cuisine' src="https://open.spotify.com/embed/playlist/<%= recommendations.cuisine_ids[0] %>" width="420" height="480" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <div class="button-row">
          <button id='cuisine-previous' class='unrounded-btn-left'>Previous</button>
          <button id='cuisine-follow' class='unrounded-btn-block'>Follow on Spotify</button>
          <button id='cuisine-next' class='unrounded-btn-right'>Next</button>
        </div>
      </div>

      <div class="combo-playlists" id='combo'>
        <h3 class='playlist-title'>Mixed Beats</h3>
        <iframe id='iframe-combo' src="https://open.spotify.com/embed/playlist/<%= recommendations.combo_ids[0] %>" width="420" height="480" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <div class="button-row">

        <button id='combo-previous' class='unrounded-btn-left'>Previous</button>
        <button id='combo-follow', class='unrounded-btn-block'>Follow on Spotify</button>
        <button id='combo-next' class='unrounded-btn-right'>Next</button>
        </div>
      </div>

      <div class="mood-playlists" id='mood'>
        <h3 class='playlist-title'><%= recommendations.mood %> Playlists</h3>
        <iframe id='iframe-mood' src="https://open.spotify.com/embed/playlist/<%= recommendations.mood_ids[0] %>" width="420" height="480" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        <div class="button-row">

        <button id='mood-previous' class='unrounded-btn-left'>Previous</button>
        <button id='mood-follow', class='unrounded-btn-block'>Follow on Spotify</button>
        <button id='mood-next' class='unrounded-btn-right'>Next</button>
        </div>
      </div>
    </div>

  </div>

  <div class="button-section">
    <%= button_to "Harvest More Beats", "/recommendations/new", class: "btn-less-huge-light", method: :get %>
  </div>

</body>

<script>
  window.addEventListener("load", function () {
    const loader = document.querySelector(".loader");
    loader.className += " hide";
});

let cuisineIds = <%= @cuisine_ids.inspect.html_safe %>;
let moodIds = <%= @mood_ids.inspect.html_safe %>;
let comboIds = <%= @combo_ids.inspect.html_safe %>;
let token = <%= @token.inspect.html_safe %>;

window.addEventListener("load", function () {
    var cuisinePlayer = document.createElement("IFRAME");
    cuisinePlayer.setAttribute("src", `https://open.spotify.com/embed/playlist/${cuisineIds[1]}`);
    cuisinePlayer.style.height = 400 + "px";
    cuisinePlayer.style.width = 420 + "px";
    cuisinePlayer.style.frameborder = 0;
    cuisinePlayer.id='iframe-cuisine';
    document.getElementById("cuisine-iframe").appendChild(cuisinePlayer);

    var moodPlayer = document.createElement("IFRAME");
    moodPlayer.setAttribute("src", `https://open.spotify.com/embed/playlist/${moodIds[1]}`);
    moodPlayer.style.height = 400 + "px";
    moodPlayer.style.width = 420 + "px";
    moodPlayer.style.frameborder = 0;
    moodPlayer.id='iframe-mood';
    document.getElementById("mood-iframe").appendChild(moodPlayer);

    var comboPlayer = document.createElement("IFRAME");
    comboPlayer.setAttribute("src", `https://open.spotify.com/embed/playlist/${comboIds[1]}`);
    comboPlayer.style.height = 400 + "px";
    comboPlayer.style.width = 420 + "px";
    comboPlayer.style.frameborder = 0;
    comboPlayer.id='iframe-combo';
    document.getElementById("combo-iframe").appendChild(comboPlayer);
    });

  const cuisinePrevious = document.getElementById('cuisine-previous');
  cuisinePrevious.addEventListener('click', function() {
        cuisineIds.push(cuisineIds.shift())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${cuisineIds}`
        let iframeHTML = document.getElementById('iframe-cuisine');
        iframeHTML.src = playlistHTML;
  });

  const cuisineFollowButton =  document.getElementById('cuisine-follow');
  cuisineFollowButton.addEventListener('click', function() {
        let playlistId = document.getElementById('iframe-cuisine').src.split('/')[5]

        fetch(`https://api.spotify.com/v1/playlists/${playlistId}/followers`, {
          method: 'PUT',
          headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          if (response.status === 200) {
            alert('You are now following this playlist :)');
          }
          else {
            alert('Something went wrong! You didnt follow it');
          }
        })
        .catch(error => alert('Something went wrong! You didnt follow it'));
  })


  const cuisineNext = document.getElementById('cuisine-next');
  cuisineNext.addEventListener('click', function() {
        cuisineIds.unshift(cuisineIds.pop())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${cuisineIds}`
        let iframeHTML = document.getElementById('iframe-cuisine');
        iframeHTML.src = playlistHTML;
  });

// MOOD PLAYLIST BUTTONS
  const moodPrevious = document.getElementById('mood-previous');
  moodPrevious.addEventListener('click', function() {
        moodIds.push(moodIds.shift())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${moodIds}`
        let iframeHTML = document.getElementById('iframe-mood');
        iframeHTML.src = playlistHTML;
  });

  const moodFollowButton =  document.getElementById('mood-follow');
  moodFollowButton.addEventListener('click', function() {
        let playlistId = document.getElementById('iframe-mood').src.split('/')[5]

        fetch(`https://api.spotify.com/v1/playlists/${playlistId}/followers`, {
          method: 'PUT',
          headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          if (response.status === 200) {
            alert('You are now following this playlist :)');
          }
          else {
            alert('Something went wrong! You didnt follow it');
          }
        })
        .catch(error => alert('Something went wrong! You didnt follow it'));
  })

  const moodNext = document.getElementById('mood-next');
  moodNext.addEventListener('click', function() {
        moodIds.unshift(moodIds.pop())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${moodIds}`
        let iframeHTML = document.getElementById('iframe-mood');
        iframeHTML.src = playlistHTML;
  });

// COMBO PLAYLIST BUTTONS
  const comboPrevious = document.getElementById('combo-previous');
  comboPrevious.addEventListener('click', function() {
        comboIds.push(comboIds.shift())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${comboIds}`
        let iframeHTML = document.getElementById('iframe-combo');
        iframeHTML.src = playlistHTML;
  });

  const comboFollowButton =  document.getElementById('combo-follow');
  comboFollowButton.addEventListener('click', function() {
        let playlistId = document.getElementById('iframe-combo').src.split('/')[5]

        fetch(`https://api.spotify.com/v1/playlists/${playlistId}/followers`, {
          method: 'PUT',
          headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json'
          }
        })
        .then(response => {
          if (response.status === 200) {
            alert('You are now following this playlist :)');
          }
          else {
            alert('Something went wrong! You didnt follow it');
          }
        })
        .catch(error => alert('Something went wrong! You didnt follow it'));
  })

  const comboNext = document.getElementById('combo-next');
  comboNext.addEventListener('click', function() {
        comboIds.unshift(comboIds.pop())
        let playlistHTML = `https://open.spotify.com/embed/playlist/${comboIds}`
        let iframeHTML = document.getElementById('iframe-combo');
        iframeHTML.src = playlistHTML;
  });

</script>
