<!DOCTYPE html>
<html>
  <head>
    <title>TurnipTheBeet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand mb-0 h1" href="/">Turnip the Beet</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/shelters">Farm Some Beets</a>
    </li>
    <% if current_user %>
      <li class="nav-item">
        <a class="nav-link" href="/pets">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pets">Log Out</a>
      </li>
    <% end %>
  </ul>
  </nav>

  <%# <div class="container"> %>

    <%= yield %>

  <%# </div> %>

  </body>
</html>
